@import 'styles/variables';

// Global Reset
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: $font-inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background;
  color: $foreground;
  font-size: $font-size-base;
  line-height: $line-height-normal;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}

// Focus visible styles (shadcn/ui accessibility)
:focus-visible {
  outline: 2px solid $ring;
  outline-offset: 2px;
}
