@import "styles/variables";
@import "styles/mixins";

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: $spacing-8;
  @include card;
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: $spacing-3;

  label {
    display: block;
    @include text-sm;
    font-weight: $font-weight-semibold;
    color: $foreground;
    margin-bottom: $spacing-3;
    text-align: left;
  }
}

.input,
.textarea,
.select {
  @include input-base;
}

.textarea {
  resize: vertical;
  min-height: 100px;
}

.select {
  cursor: pointer;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23111827' d='M6 9L1 4h10z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right $spacing-3 center;
  padding-right: $spacing-9;
}

.error {
  color: $destructive;
  @include text-sm;
  margin-top: $spacing-1;
}

.actions {
  display: flex;
  gap: $spacing-4;
  justify-content: flex-end;
  margin-top: $spacing-8;
  padding-top: $spacing-6;
  border-top: 1px solid $border;
}

.cancelButton {
  @include button-outline;
}

.submitButton {
  @include button-primary;
}

.loading,
.error {
  text-align: center;
  padding: $spacing-12;
  @include text-lg;
  color: $muted-foreground;
}

.error {
  color: $destructive;
}
