@import 'styles/variables';
@import 'styles/mixins';

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background: $white;
  border-radius: 12px;
  @include card-shadow;

  h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: $text-color;
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 1.5rem;

  label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: $text-color;
  }
}

.input,
.textarea,
.select {
  @include input-base;
}

.textarea {
  resize: vertical;
  min-height: 100px;
}

.error {
  color: $error-color;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin-top: 2rem;
  padding-top: 1.5rem;
  border-top: 1px solid $border-color;
}

.cancelButton,
.submitButton {
  @include button-base;
}

.cancelButton {
  background-color: $background;
  color: $text-color;

  &:hover {
    background-color: $border-color;
  }
}

.submitButton {
  background-color: $primary-color;
  color: $white;

  &:hover:not(:disabled) {
    background-color: $primary-hover;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.loading,
.error {
  text-align: center;
  padding: 3rem;
  font-size: 1.2rem;
  color: $text-secondary;
}

.error {
  color: $error-color;
}
